<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>IDR TAG Operation - Fortgot PW</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="/resource/assets/css/bootstrap.min.css">
	<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">-->
    <link rel="stylesheet" href="/resource/assets/css/googleapis.com.css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="/resource/assets/css/ready.css">
	<link rel="stylesheet" href="/resource/assets/css/demo.css">
    <script src="/resource/assets/js/axios.min.js"></script>
    <link rel="stylesheet" href="/resource/assets/js/lib/pajinatify/dist/jquery.pajinatify.css">
</head>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5 card">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                    <p class="mb-4"><%=__('Please enter your email address')%></p>
                                </div>
                                <div class="user">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address...">
                                    </div>
                                    <button class="w-100 btn btn-success">
                                        Reset Password
                                    </button>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a class="small login-menus " name='login-menus' href="login" >Already have an account? Login!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small login-menus" name='login-menus' id = "user-register">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


